.alert {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #272c34;
  border: 1px solid #d6d8db;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  min-height: 30px;

  .message {
    flex: 1;
    p {
      color: #383d41;
    }
  }

  &.danger {
    background: #f8d7da;
    border: 1px solid #f5c6cb;
    .message {
      p {
        color: #721c24;
      }
    }
  }
}
