<ul class="users" *ngIf="users.length > 0">
  <li *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: currentPage, totalItems: 500 }; let i = index" [tabindex]="index" >
    <a href="{{user.html_url}}" target="_blank" rel="noopener noreferrer" class="link--no-decoration" >
      <div class="image" [ngStyle]="{background: 'url(' + user.avatar_url + ') center center', backgroundSize: 'cover'}"></div>
      <div class="content">
        <h3>{{user.login}}</h3>
        <ul>
          <li>28 followers</li>
          <li>30 following</li>
        </ul>
      </div>
    </a>
  </li>
</ul>

<pagination-controls (pageChange)="nextPage($event)"></pagination-controls>
